h1 {
  color: blueviolet;
  font-size: 2rem;
}

li {
  list-style: none;
}

.item-box {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.item {
  border: 2px solid blue;
  width: fit-content;
  padding: 1rem;
}
