<html>
  <head>
    <title>Handlebars Application</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <header>Handlebars Application</header>
    <main>
      {{{body}}}
    </main>
    <footer>Footer and shiz</footer>
  </body>
</html>